In [10]:
a=int(input())
b=int(input())
c=a + b
print(c)

2
3
5

In [11]:
print("hello,world!")

hello,world!

In [15]:
name="marks"
print(name)

marks

In [17]:
last_name = "Smith" 
city_of_origin = "New Orleans"
print(last_name)

Smith

In [19]:
print("hello , world!")

hello , world!

In [20]:
original_num=139
new_num=original_num + 11
print(new_num)

150

In [21]:
print(2 + 2)

4

In [22]:
popular_number = 12 / 4
print(popular_number )

3.0

In [23]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [24]:
age += 50

NameError: name 'age' is not defined

In [25]:
age=39
age += 50
print(age)

89

In [30]:
sualeh="saleh"
sep=""
f_name="muhammad fasih"
c= sualeh + sep + f_name
print(c)

salehmuhammad fasih

In [33]:
print("the sum of two is" + "4")

the sum of two is4

In [38]:
age=int(input())
if age > 18 :
print("you are younger")

IndentationError: expected an indented block (<ipython-input-38-ff328a9180a7>, line 3)

In [43]:
species=input()
if species != "cat":   
    print("Yep, it's not a cat.")

dog
Yep, it's not a cat.

In [45]:
a=input()
if a == "sualeh":
    print("you are muslim")

sualeh
you are muslim

In [50]:
if weight > 300 and time < 6: 
    status = "try to recruit him"

SyntaxError: invalid syntax (<ipython-input-50-50ac6a42840e>, line 2)

In [ ]:
age=int(input())
if age >= 18:
    print("you are   ty")